body {
    background: rgb(21, 32, 43);
}

.hide {
    display: none;
}

.grid-container {
    display: grid;
    gap: 30px;
    grid-auto-flow: dense;
    grid-auto-rows: 240px;
    grid-template-columns: repeat(auto-fill, 240px);

    margin: 30px 30px 30px 30px;
}

.grid-item {
    background: rgb(11, 19, 27);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.grid-item.expand {
    grid-row: span 2;
    grid-column: span 3;
    transition: transform 0.5s ease-in-out;
}

.grid-item:not(.expand):hover {
    transform: scale(1.05);
}